.meta-5.tradingContainer{
    h3{
        font-size: 34px;
        text-align: center;
        color: #fff;
        margin-top: 60px;
    }
    .bg-theme{
        margin: 24px auto;

        background: #131B2E;
        padding: 54px 0;
        h3{
            text-align: left;
        }

    }
}