.resetPasswordContainer {
  background: #08090a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .formTitle {
    font-size: 1.5625rem;
    color: #fff;
  }

  .ant-form {
    display: flex;
    flex-direction: column;
    .ant-form-item:nth-child(2) {
      margin-bottom: 0;
    }
  }

  .showPassContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    .showPassButton {
      color: #fff;
      padding: 0;
    }
  }

  input.customInput,
  .ant-input-affix-wrapper {
    border-radius: 0.53894rem;
    border: 0.0539rem solid #272930;
    background: #14161a;
    padding: 1.125rem 0.9375rem;
    width: 100%;
    outline: 0;
    color: #fff;
    &::placeholder {
      color: #9cb0c2;
      font-size: 1rem;
    }
  }
  .ant-input-affix-wrapper {
    background: #14161a;
    padding: 0.85rem 0.9375rem;
    margin: 0 0 0.94rem 0;

    svg {
      fill: #70808c;
      width: 1.5rem;
    }
  }
  .ant-input {
    background: #14161a;
    color: #fff;
    &::placeholder {
      color: #9cb0c2;
      font-size: 1rem;
    }
  }

  button.confirmButton {
    width: 100%;
    border-radius: 0.53894rem;
    background: #ff0000 !important;
    color: #fff;
    padding: 0.8125rem 4.0625rem;
    font-weight: 500;
    height: 3.125rem;
  }
}
