.howIsMarginCal{

    padding: 12px 22px;
    margin: 24px auto ;
    max-width: 820px;
    color: #999999;
    text-align: center;
    h3{
        color: white;
        margin: 16px;
        font-size: 34px;
    }
    p{
        font-size: 16px;
        color: #999999;

    }
}