.getStartedWrapper{
    display: flex;
    width: 90%;
    margin: 0px auto 40px;
    padding: 12px;
    color: white;
    gap: 50px;
    @media (max-width:720px) {
    flex-direction: column;

        
    }
    .imageBackdrop{
        flex-basis: 50%;

            img{
                max-width: 450px;
                height: 100%;
                width: 100%;
                max-height: 450px;
                border-radius: 14px;    
            }

            @media (max-width: 720px) {
                order: 2;
                
            }
            
    
        }
       
    .textWrapper{
        flex-basis: 50%;
        ul{
            li{
                display: flex;
                gap: 10px;
                margin: 12px 0;
                // align-items: center;


                .checkBg{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(180deg, #FF1802 -21.25%, rgba(255, 24, 2, 0) 130%);
                    border-radius: 100%;
                    flex-shrink: 0;
                }
                p{
                    flex: 1;
                }
            }
        }
       
        h3{
            font-size: 34px;
            margin-bottom: 12px;

        }
        p{
            color: #999999;
            font-size: 16px;
            margin-bottom: 22px;
        }
    }
}