.loanMicroLenders {
  background-color: rgba(1, 0, 6, 1);
  width: 100%;
  @media (max-width: 804px) {
    height: 100%;
  }
  .upperBoxes {
    margin-top: 10rem !important;
    margin-bottom: 3rem;
  }
  .downsideBoxes {
    padding-bottom: 10rem !important;
  }
  .BoxesDiv {
    display: flex;
    gap: 4.6875rem;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding-bottom: 2rem;
    .rectangleBox {
      width: 22.8125rem;
      height: 12.3125rem;
      background-color: rgba(217, 217, 217, 0.12);
      border-radius: 0.9375rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      .Elipse {
        position: absolute;
        height: 2.8125rem;
        width: 3rem;
        background-color: rgba(0, 102, 179, 1);
        top: 1rem;
        right: 2rem;
        border-radius: 50%;
        filter: blur(1.5rem);
      }
      .Elipse2 {
        position: absolute;
        height: 2.8125rem;
        width: 3rem;
        background-color: rgba(167, 205, 69, 1);
        bottom: 1rem;
        right: 5rem;
        border-radius: 50%;
        filter: blur(1.5rem);
      }
      .Elipse3 {
        position: absolute;
        height: 3.4375rem;
        width: 3.4375rem;
        background-color: rgba(0, 102, 179, 1);
        bottom: 1rem;
        left: 0rem;
        border-radius: 50%;
        filter: blur(1.5rem);
      }
      .Elipse4 {
        position: absolute;
        height: 1.5625rem;
        width: 1.5625rem;
        background-color: rgba(255, 145, 30, 1);
        bottom: 2rem;
        right: 3rem;
        border-radius: 50%;
        filter: blur(1.5rem);
      }
      p {
        font-size: 1.875rem;
        color: white;
        font-weight: 600;
      }
    }
  }
  .rectangle-loan-links {
    width: 22.8125rem;
    height: 0.8125rem;
    background: linear-gradient(
      to right,
      rgba(39, 162, 255, 1),
      rgba(249, 252, 255, 0)
    );
    border-radius: 0.625rem;
    margin: 1.4375rem 0rem 1.4375rem 3.875rem;
    @media (max-width: 768px) {
      width: 18rem;
      height: 0.7rem;
      margin: 1rem 0rem 0rem 3.875rem;
    }
    @media (max-width: 576px) {
      width: 15rem;
      height: 0.6rem;
    }
    @media (max-width: 320px) {
      width: 10rem;
      height: 0.4rem;
    }
  }
  .loanTitle {
    color: white;
    font-size: 1.875rem;
    margin: 1rem 0rem 0rem 3.875rem;
  }

  .loanSubTitle {
    font-size: 1.25rem;
    color: white;
    margin: 1rem 0rem 0rem 3.875rem;
  }
}
