.conditionHeader{
    width: 90%;
    padding: 70px 0;
    text-align: center;
    margin: auto;

    h1{
        font-size: 60px;
        color: white;
    }
    p{
        color: white;
        max-width: 600px;
        margin: auto;
        font-size: 18px;
        line-height: 27px;
        color: #999999;
    }
    .searchCon{
        max-width: 400px;
        margin: auto;
    }

    .dropdown{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    .conditionSelection{
        // padding: 42px 0;
        // background-color: red;
        display: flex;
        align-items: center;
        color: white;
    }
    .conditionSelection .ant-select-selector{
        background-color: transparent;
        color: white;
        border: 1.11px solid #79859A;
        padding: 19px;

        .ant-select-selection-item{
           
            color: #fff;

        }

        .ant-select-arrow{
            color: #fff;
            span{
                color: #fff !important;

            }

        }

    }
       
    .conditionSelection .ant-select-selector   .ant-select-selection-search .ant-select-selection-search-input{
        color: white;
        // padding: 19px;

    }
    .searchCon{    
    .mainItemCardv2 {       
        background: #15171C;
        border-radius: 30px;
        box-shadow: none;
      }
    }
      
}