.cookieIntroductionContainer{
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;

    @media (max-width:730px){
        max-width: 90%;
    }

    h2{
        color: white;
        font-size: 32px;
        font-family: 'poppins','sans-serif';
        color: white;
        font-weight: 600;

        @media (max-width:730px){
            font-size: 26px;
        }
    }
    p{
        margin-top: 2rem;
        font-family: 'poppins','sans-serif';
        color: #999999;
        font-size: 20px;
    }
}