.aiMenu {
  .aiMenuHeader {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    button {
      background: transparent;
      border: 0.0625rem solid rgba(93, 134, 166, 1);
      padding: 0.525rem 0.9375rem;
      color: white;
      border-radius: 1.1875rem;
      font-size: 0.75rem;
      font-weight: 400;
    }
    .active {
      background-color: rgba(22, 23, 26, 1);
    }
    button:hover {
      background-color: rgba(22, 23, 26, 1);
    }
  }
  .aiSummary {
    margin-top: 3rem;
    h2 {
      font-size: 0.875rem;
      font-weight: 500;
      color: white;
    }
    .aiSummaryBody {
      display: flex;
      align-items: center;
      gap: 1rem;
      :where(.css-dev-only-do-not-override-2rgkd4).ant-select
        .ant-select-arrow {
        color: white !important;
      }
      .ant-select {
        width: 9.5rem;
        height: 3rem;
        color: white;
        .ant-select-selector {
          background: transparent;
          border: 1px solid rgba(255, 255, 255, 0.3);
          outline: none;
          color: white;
          font-size: 0.85rem;
          input {
            color: white;
            font-size: 0.875rem;
            font-weight: 400;
          }
          .ant-select-selection-placeholder {
            color: rgba(150, 151, 152, 1);
            font-size: 0.85rem;
          }
        }
        .ant-select-selector:hover {
          border: 1px solid rgba(255, 255, 255, 0.3);
          outline: none;
        }
        .ant-select-selector:active {
          border: 1px solid rgba(255, 255, 255, 0.3);
          outline: none;
        }
      }
    }
  }
  .RespondBody {
    margin-top: 2rem;
    .RespondSlider {
      background: rgba(26, 29, 33, 1);
      padding: 1rem 1rem;
      display: flex !important;
      width: 90% !important;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.625rem;
      h2 {
        font-size: 0.625rem;
        color: rgba(150, 151, 152, 1);
        line-height: 1rem;
        font-weight: 400;
        // padding: 0rem 4rem 0rem 0rem;
      }
    }
    .textArea {
      margin-top: 2rem;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0.625rem;
      padding: 1rem;
      color: white;
      font-size: 0.75rem;
      resize: none;
    }
    .textArea::placeholder {
      color: rgba(150, 151, 152, 1);
      font-size: 0.75rem;
    }
    .lastBtn {
      width: fit-content;
      padding: 0.8rem 2rem;
    }
  }
}

.day.aiMenu {
  .aiMenuHeader {
    button {
      border: 0.0625rem solid rgba(132, 91, 59, 1);
      
      color: rgb(0, 0, 0);
     
    }
    .active {
      background-color: rgba(203, 202, 199, 1);
    }
    button:hover {
      background-color:  rgba(203, 202, 199, 1);
    }
  }
  .aiSummary {
    h2 {

      color: rgb(0, 0, 0);
    }
    .aiSummaryBody {
      :where(.css-dev-only-do-not-override-2rgkd4).ant-select
        .ant-select-arrow {
        color: rgb(0, 0, 0) !important;
      }
      .ant-select {

        color: rgb(0, 0, 0);
        .ant-select-selector {

          border: 1px solid rgba(0, 0, 0, 0.3);
  
          color: rgb(0, 0, 0);
         
          input {
            color: rgb(0, 0, 0);

          }
          .ant-select-selection-placeholder {
            color: rgba(105, 106, 103, 1);
          }
        }
        .ant-select-selector:hover {
          border: 1px solid rgba(0, 0, 0, 0.3);
          outline: none;
        }
        .ant-select-selector:active {
          border: 1px solid rgba(0, 0, 0, 0.3);
          outline: none;
        }
      }
    }
  }
  .RespondBody {
    .RespondSlider {
      // background: rgba(26, 29, 33, 1);
      background: rgba(199, 196, 192, 1);
  
      border-radius: 0.625rem;
      h2 {
        font-size: 0.625rem;
        color: rgb(40, 40, 41);

      }
      svg{
        path{
          fill: rgba(19, 19, 19, 0.61);
        }
      }
    }
    .textArea {
      border: 1px solid rgba(0, 0, 0, 0.3);   
      color: rgb(0, 0, 0);

    }
    .textArea::placeholder {
      color: rgb(78, 78, 78);

    }
    .lastBtn {

    }
  }
}
