.registerBlockWrapper {
  padding: 20px 0 100px 0px;
  .registerBlockContainer {
    width: 72%;
    margin: 40px auto;
    display: flex;
    background: linear-gradient(
      180deg,
      #ff1802 0%,
      #bd0034 51.6%,
      #230003 100%
    );
    border-radius: 16px;
    position: relative;
    justify-content: space-between;
    @media (max-width: 1278px) {
      width: 90%;
    }
    @media (max-width: 878px) {
      justify-content: space-between;
    }
    @media (max-width: 728px) {
      flex-direction: column-reverse;
    }

    .registerBlockLines {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75%;
      height: 90%;

      @media (max-width: 878px) {
        display: none;
      }
    }

    .registerBlockLinesTwo {
      display: none;

      @media (max-width: 878px) {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      @media (max-width: 728px) {
        height: 50%;
      }
    }

    .registerBlockImages {
      width: 50%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media (max-width: 878px) {
        align-items: flex-start;
        width: 40%;
      }
      @media (max-width: 728px) {
        margin: 0 auto;
        width: 100%;
      }

      img {
        width: 50%;
        height: auto;

        @media (max-width: 878px) {
          width: 100%;
        }
        @media (max-width: 728px) {
          width: 50%;
        }
      }

      img:first-child {
        margin-top: 50px;
        margin-right: -100px;
        @media (max-width: 878px) {
          width: 100%;
          margin-top: 0;
          margin-right: 0px;
        }
        @media (max-width: 728px) {
          width: 50%;
          margin-right: -100px;
          margin-top: -50px;
        }
      }

      img:last-child {
        margin-top: -50px;
        @media (max-width: 878px) {
          display: none;
        }
        @media (max-width: 728px) {
          display: flex;
          margin-top: 0px;
        }
      }
    }

    .registerBlockInputs {
      margin: 20px 20px 20px 0;
      width: 50%;
      padding: 30px;
      max-width: 470px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      background: #000000;
      border-radius: 12px;
      justify-content: space-evenly;

      @media (max-width: 878px) {
        width: 60%;
        max-width: 470px;
      }
      @media (max-width: 728px) {
        width: 90%;
        margin: 40px auto;
      }

      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 21.4844px;
        line-height: 24px;
        color: #ffffff;
        @media (max-width: 878px) {
          font-size: 15.52px;
        }
        @media (max-width: 478px) {
          font-size: 20.48px;
        }
      }

      form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 878px) {
          gap: 20px;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 20px;

          input {
            box-sizing: border-box;
            background: #000000;
            border: 1px solid rgba(230, 230, 239, 0.3);
            border-radius: 6px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #999999;
            padding: 10px;
            @media (max-width: 878px) {
              font-size: 8.67px;
            }
            @media (max-width: 478px) {
              font-size: 11.41px;
            }
          }

          p {
            color:#ff1802;
            margin-top: -10px;
          }
        }

        button {
          background: #ff1802;
          border: 1px solid #13121b;
          border-radius: 8px;
          padding: 10px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 13.5625px;
          line-height: 21px;
          color: #ffffff;
          @media (max-width: 878px) {
            max-width: 206.62px;
            font-size: 9.8px;
          }

          @media (max-width: 728px) {
            max-width: 100%;
          }
          @media (max-width: 478px) {
            font-size: 12.9px;
          }
        }

        .registerBlockCkeckbox {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 10px;

          .checkmark {
            margin-top: 5px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            border: 1px solid #e6e6ef;
            border-radius: 2px;
            background: #000000;
            cursor: pointer;
            position: relative;

            img {
              position: absolute;
            }
          }

          span {
            width: 90%;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 11.4375px;
            line-height: 16px;
            color: #999999;

            @media (max-width: 478px) {
              font-size: 10.88px;
            }
          }
        }

        .custom-checkbox {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          cursor: pointer;
          font-size: 16px;
          user-select: none;
          width: 90%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 11.4375px;
          line-height: 16px;
          color: #999999;
          @media (max-width: 878px) {
            font-size: 8.26px;
          }

          span {
            text-decoration: underline;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          input:checked ~ .checkmark {
            background-color: #000;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 5px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            border: 1px solid #e6e6ef;
            border-radius: 2px;
            background: #000000;
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          .checkmark:after {
            left: 4px;
            top: 0px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }

      .registerBlockIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;

        img {
          cursor: pointer;
        }
      }

      .registerBlockTrustPilotImg {
        @media (max-width: 878px) {
          margin: 0 auto;
          max-width: 201.62px;
          max-height: 20.22px;
        }

        @media (max-width: 478px) {
          margin: 0;
        }
      }
    }
  }
}
