.headIntroContainer{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;

    h2{
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 600;
    }
    p{
        color: #999999;
        font-size: 20px;
        max-width: 75%;
        text-align: center;
        font-family: "Poppins", sans-serif;

        @media (max-width:730px){
            max-width: 80%;
        }

    }

    button{
        color: white;
        background-color: #FF1802;
        padding: 1rem 4rem;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;

        @media (max-width:730px){
            max-width: 80%;
            padding: 0.5rem 2rem;
        }
    }
}