window.configs = {
  VITE_API_BASE_URL: "${VITE_API_BASE_URL}",
  VITE_SOCKET_BASE_URL: "${VITE_SOCKET_BASE_URL}",
  VITE_PUBLIC_SITE_URL: "${VITE_PUBLIC_SITE_URL}",
  VITE_BRAND_NAME: "${VITE_BRAND_NAME}",
};
