.customTimeSelectorContainer{
    position: absolute;
    background-color: var(--base-gamma);
    left: -16.5rem;
    top: -2rem;
    padding: 1rem 1rem;
    z-index: 100;
    border-radius: 10px;
    max-width: 250px;
    color: white;

    @media(max-width:766px){
        left: 0rem;
        right: 0;
        max-width: 100%;
        bottom: 0rem !important;
        z-index: 999 !important;
    }

    h1{
        font-weight: 500;
        font-size: 18px;
        font-family: "Roboto", sans-serif;

    }

    .customTImeSelectorButtonContainer{
        margin-top: 0.5rem;
        position: relative;
        gap: 1rem;
        span{
            cursor: pointer;
            margin: 0 10px;
            font-family: "Roboto", sans-serif;
            color: gray;
        }    
        span.activeMenu{
            color: white;
            font-weight: 500;
            text-decoration: underline;
            text-underline-offset: 8px;
        }    

    }

    .customTimeButtonsContainer{
        margin-top: 1rem;
        gap: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        span{
            background-color: rgba(123, 122, 122, 0.31);;
            padding: 0.4rem 0rem;
            border-radius: 5px;
            width: 95px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            word-spacing: 1px;
            font-family: "Poppins", sans-serif;
            color: white;
            cursor: pointer;
        }
    }
} 